<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <body>
      <div id="app">
         <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <!--   navbar here -->
            <app-navbar></app-navbar>
            <!-- sidebar here -->
            <app-sidebar></app-sidebar>
            <!-- Main Content -->
            <div class="main-content">
               <section class="section">
                  <!-- <div class="row">
                     <div class="col-12 col-sm-12 col-lg-12 p-0 "> -->
                  <div class="d-flex space-between">
                     <div class="">
                        <h4>Dashboard</h4>
                        <ol class="breadcrumb p-0">
                           <li class="breadcrumb-item"><a href="#">Home</a></li>
                           <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                     </div>
                     <div class=" align-right">
                        <input type="text" class="form-control date-box" placeholder="Nov 17,20 - Dec 16,20" value="Nov 17,20 - Dec 16,20">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12 col-lg-3 card_box w20">
                        <div class="card card-bottom">
                           <div class="card-body card-top">
                              <div class="d-flex">
                                 <div class="w50">
                                    <i  style="font-size: 24px !important;"
                                       class="fa fa-truck"></i>
                                 </div>
                                 <div class="">
                                    <h3 style="    text-align: center;" class="mb-1 counter font-30">75</h3>
                                    <div class="text-muted">Not Picked
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12 col-lg-3 card_box w20">
                        <div class="card card-bottom">
                           <div class="card-body card-top">
                              <div class="d-flex">
                                 <div class="w50">
                                    <i  style="font-size: 24px !important;"
                                       class="fas fa-exchange-alt"></i>
                                 </div>
                                 <div class="">
                                    <h3 style="    text-align: center;" class="mb-1 counter font-30">956</h3>
                                    <div class="text-muted">In Transit
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12 col-lg-3 card_box w20">
                        <div class="card card-bottom">
                           <div class="card-body card-top">
                              <div class="d-flex">
                                 <div class="w50">
                                    <i  style="font-size: 24px !important;"
                                       class="fas fa-running"></i>
                                 </div>
                                 <div class="">
                                    <h3 style="    text-align: center;" class="mb-1 counter font-30">956</h3>
                                    <div class="text-muted">OFD
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12 col-lg-3 card_box w20">
                        <div class="card card-bottom">
                           <div class="card-body card-top">
                              <div class="d-flex">
                                 <div class="w50">
                                    <i  style="font-size: 24px !important;"
                                       class="fa fa-shopping-cart"></i>
                                 </div>
                                 <div class="">
                                    <h3 style="text-align: center;" class="mb-1 counter font-30">956</h3>
                                    <div class="text-muted">Delivered
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12 col-lg-3 card_box w20 ">
                        <div class="card card-bottom">
                           <div class="card-body card-top">
                              <div class="d-flex">
                                 <div class="w50">
                                    <i  style="font-size: 24px !important;"
                                       class="fa fa-cog"></i>
                                 </div>
                                 <div class="">
                                    <h3 class="mb-1 counter font-30">956</h3>
                                    <div class="text-muted">RTO
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-3 plr-10">
                        <div class="col-sm-12 box_sec p-0">
                           <div class="card card-left">
                              <div class="card-body bor-left">
                                 <div class="float-right d-inline-block px-2 py-1 rounded-lg font-size-sm font-w600 text-danger bg-danger-light">
                                    <i class="fa fa-caret-down mr-1"></i>
                                    2.2%
                                 </div>
                                 <h3 class="mb-1 text-primary counter font-30 color_black">112</h3>
                                 <div class="text-muted">Todays Order
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12 box_sec p-0">
                           <div class="card card-left">
                              <div class="card-body bor-left">
                                 <div class="float-right d-inline-block px-2 py-1 rounded-lg font-size-sm font-w600 text-danger bg-danger-light">
                                    <i class="fa fa-caret-down mr-1"></i>
                                    2.2%
                                 </div>
                                 <h3 class="mb-1 text-primary counter font-30 color_black">225</h3>
                                 <div class="text-muted">Todays Revenue
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-12 box_sec p-0">
                           <div class="card card-left">
                              <div class="card-body bor-left">
                                 <div class="float-right d-inline-block px-2 py-1 rounded-lg font-size-sm font-w600 text-danger bg-danger-light">
                                    <i class="fa fa-caret-down mr-1"></i>
                                    2.2%
                                 </div>
                                 <h3 class="mb-1 text-primary counter font-30 color_black">225</h3>
                                 <div class="text-muted">Todays Shipping Charges
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-9 plr-10">
                        <div class="card box_div card_orderre border-bottom graph-r ">
                           <div class="card-header  dash-bottom" >
                              <h4>Order Revenue and Shipment Graph</h4>
                           </div>
                           <div class="card-body">
                              <div id="chart_order" class="chartsh"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-8 plr-10">
                        <div class="card box_div graph-r">
                           <div class="card-header ">
                              <h4>Delivery and RTO Ratio Graph</h4>
                           </div>
                           <div class="card-body">
                              <div id="chart" class="chartsh"></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4 plr-10">
                        <div class="box_sec2" style="padding-right: 0px !important;">
                           <div class="card graph-r">
                              <div class="card-header box_shadow_none">
                                 <h4>Ratio</h4>
                              </div>
                              <div class="table-responsive  m-b-10">
                                 <table class="dataTable">
                                    <thead>
                                       <tr>
                                          <th>Ratio </th>
                                          <th>Range</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td>Transit (Days)  </td>
                                          <td>2 </td>
                                       </tr>
                                       <tr>
                                          <td>Delivery (days)   </td>
                                          <td>2 </td>
                                       </tr>
                                       <tr>
                                          <td>Avg COD Remittance Days and Amount    </td>
                                          <td>2 </td>
                                       </tr>
                                       <tr>
                                          <td>Avg Shipment Cost   </td>
                                          <td>2 </td>
                                       </tr>
                                       <tr>
                                          <td>Avg Revenue / Order   </td>
                                          <td>2 </td>
                                       </tr>
                                       <tr>
                                          <td>Avg Revenue / Order   </td>
                                          <td>2 </td>
                                       </tr>
                                       <tr>
                                          <td>Avg Revenue / Order   </td>
                                          <td>2 </td>
                                       </tr>
                                       <tr>
                                          <td>Avg Revenue / Order   </td>
                                          <td>2 </td>
                                       </tr>
                                       <tr>
                                          <td>Avg Revenue / Order   </td>
                                          <td>2 </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--  -->
                  </div>
                  <div class="row">
                     <div class="col-md-12 plr-10">
                        <div class="box_div card">
                           <div class="row">
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> Total COD Shipment picked. (No andAmount)</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> COD Shipment Delivered</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> COD Remitted</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> Upcoming COD Amount</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> COD Not Due</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> COD Shipment RTO (No & Amount)</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> Total NDR</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> Shipyaari Actioned</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> Seller Actioned</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> NDR Pending</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> NDR to Delivery Ratio</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                              <div class="col-xl-2 col-lg-6 col-md-6  dash1">
                                 <div class="total">
                                    <p class=" mb-0 "> Action to Success Ratio</p>
                                    <h2 class="mb-2">2</h2>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6 plr-10">
                        <div class="box_div card graph-r">
                           <ul class="nav nav-tabs nav-justified" id="myTab2" role="tablist">
                              <li class="nav-item">
                                 <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="false" style="margin-left: 30px;">Tracking pie chart</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">Exception Pie Chart</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact" aria-selected="true" style="margin-right: 30px;">RTO Pie Chart</a>
                              </li>
                           </ul>
                           <div class="tab-content tab-bordered" id="myTab3Content">
                              <div class="tab-pane fade active show p-0 pb-1" id="home2" role="tabpanel" aria-labelledby="home-tab2">
                                 <div id="chart_pia" style="width: 100%; height: 330px;"></div>
                                 <div class="d-flex" style="display: flex; justify-content: space-around;">
                                    <div class="">
                                       <dl class="mb-0">
                                          <dt class="font-size-h3 font-w700">
                                             <i class="fa fa-arrow-up font-size-lg text-success"></i> 6%
                                          </dt>
                                          <dd class="text-muted mb-0">Tracking: Statuswise</dd>
                                       </dl>
                                    </div>
                                    <div class="">
                                       <dl class="mb-0">
                                          <dt class="font-size-h3 font-w700">
                                             <i class="fa fa-arrow-up font-size-lg text-success"></i> 2%
                                          </dt>
                                          <dd class="text-muted mb-0">Exception: Reasonwise</dd>
                                       </dl>
                                    </div>
                                    <div class="">
                                       <dl class="mb-0">
                                          <dt class="font-size-h3 font-w700">
                                             <i class="fa fa-arrow-up font-size-lg text-success"></i> 7%
                                          </dt>
                                          <dd class="text-muted mb-0">RTO: Statuswise</dd>
                                       </dl>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-pane fade p-0 pb-1" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                                 <div id="chart_pia2" style="width: 100%; height: 330px;"></div>
                                 <div class="d-flex" style="display: flex; justify-content: space-around;">
                                    <div class="">
                                       <dl class="mb-0">
                                          <dt class="font-size-h3 font-w700">
                                             <i class="fa fa-arrow-up font-size-lg text-success"></i> 3%
                                          </dt>
                                          <dd class="text-muted mb-0">Tracking: Statuswise</dd>
                                       </dl>
                                    </div>
                                    <div class="">
                                       <dl class="mb-0">
                                          <dt class="font-size-h3 font-w700">
                                             <i class="fa fa-arrow-up font-size-lg text-success"></i> 2%
                                          </dt>
                                          <dd class="text-muted mb-0">Exception: Reasonwise</dd>
                                       </dl>
                                    </div>
                                    <div class="">
                                       <dl class="mb-0">
                                          <dt class="font-size-h3 font-w700">
                                             <i class="fa fa-arrow-up font-size-lg text-success"></i> 2.5%
                                          </dt>
                                          <dd class="text-muted mb-0">RTO: Statuswise</dd>
                                       </dl>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-pane fade p-0 pb-1" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
                                 <div id="chart_pia3" style="width: 100%; height: 330px;"></div>
                                 <div class="d-flex" style="display: flex; justify-content: space-around;">
                                    <div class="">
                                       <dl class="mb-0">
                                          <dt class="font-size-h3 font-w700">
                                             <i class="fa fa-arrow-up font-size-lg text-success"></i> 2%
                                          </dt>
                                          <dd class="text-muted mb-0">Tracking: Statuswise</dd>
                                       </dl>
                                    </div>
                                    <div class="">
                                       <dl class="mb-0">
                                          <dt class="font-size-h3 font-w700">
                                             <i class="fa fa-arrow-up font-size-lg text-success"></i> 5%
                                          </dt>
                                          <dd class="text-muted mb-0">Exception: Reasonwise</dd>
                                       </dl>
                                    </div>
                                    <div class="">
                                       <dl class="mb-0">
                                          <dt class="font-size-h3 font-w700">
                                             <i class="fa fa-arrow-up font-size-lg text-success"></i> 2.5%
                                          </dt>
                                          <dd class="text-muted mb-0">RTO: Statuswise</dd>
                                       </dl>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 resp-plr-0">
                        <div class="row">
                           <div class="col-lg-6 plr-10">
                              <div class="card bg-w p-b-2 card-left bor-left">
                                 <div class="card-body text-center color-blue ">
                                    <h5><i class="fa fa-truck"></i></h5>
                                    <h3 class="mb-1 red">24</h3>
                                    <p class="mb-1">Order Creation to Pickup hours</p>
                                    <!-- <span class="mb-0 text-muted"><span class="text-danger"><i class="fa fa-caret-down  mr-1"></i> 0.89%</span> Last week</span> -->
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 plr-10">
                              <div class="card bg-w p-b-2 card-left bor-left">
                                 <div class="card-body text-center color-org">
                                    <h5><i class="fa fa-shopping-cart"></i></h5>
                                    <h3 class="mb-1 green">233</h3>
                                    <p class="mb-1">Pickup to Out for Delivery Days</p>
                                    <!-- <span class="mb-0 text-muted"><span class="text-danger"><i class="fa fa-caret-down  mr-1"></i> 0.89%</span> Last week</span> -->
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 plr-10">
                              <div class="card bg-w p-b-2 card-left bor-left">
                                 <div class="card-body text-center color-red">
                                    <h5><i class="fa fa-truck"></i></h5>
                                    <h3 class="mb-1 blue">250</h3>
                                    <p class="mb-1">Pickup to Delivery Days
                                    </p>
                                    <!-- <span class="mb-0 text-muted"><span class="text-danger"><i class="fa fa-caret-down  mr-1"></i> 0.89%</span> Last week</span> -->
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 plr-10">
                              <div class="card bg-w p-b-2 card-left bor-left">
                                 <div class="card-body text-center color-green">
                                    <h5><i class="fa fa-cog "></i></h5>
                                    <h3 class="mb-1 red">233</h3>
                                    <p class="mb-1">Exception to RTO Days
                                    </p>
                                    <!-- <span class="mb-0 text-muted"><span class="text-danger"><i class="fa fa-caret-down  mr-1"></i> 0.89%</span> Last week</span> -->
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 plr-10">
                              <div class="card bg-w p-b-2 card-left bor-left">
                                 <div class="card-body text-center color-blue">
                                    <h5><i class="fa fa-shopping-cart"></i></h5>
                                    <h3 class="mb-1 green">24</h3>
                                    <p class="mb-1">Pickup to RTO Days</p>
                                    <!-- <span class="mb-0 text-muted"><span class="text-danger"><i class="fa fa-caret-down  mr-1"></i> 0.89%</span> Last week</span> -->
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 plr-10">
                              <div class="card bg-w p-b-2 card-left bor-left">
                                 <div class="card-body text-center color-org">
                                    <h5><i class="fa fa-truck"></i></h5>
                                    <h3 class="mb-1 blue">233</h3>
                                    <p class="mb-1">Exception to Delivered Days</p>
                                    <!-- <span class="mb-0 text-muted"><span class="text-danger"><i class="fa fa-caret-down  mr-1"></i> 0.89%</span> Last week</span> -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6 plr-10">
                        <div class="box_sec2">
                           <div class="card graph-r">
                              <div class="card-header box_shadow_none dash-bottom">
                                 <h4>Zone wise Ratio</h4>
                              </div>
                              <div class="table-responsive m-b-10">
                                 <table class="dataTable dataTable23">
                                    <thead>
                                       <tr>
                                          <th>Zone </th>
                                          <th>Order Count  </th>
                                          <th>Revenue    </th>
                                          <th>Delivery Ratio</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td>1</td>
                                          <td>loream1</td>
                                          <td>20776  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>2</td>
                                          <td>loream2</td>
                                          <td>207767</td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>3</td>
                                          <td>loream3</td>
                                          <td>207768 </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>4</td>
                                          <td>loream4</td>
                                          <td>207769 </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>5</td>
                                          <td>loream5</td>
                                          <td>2077610  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>6</td>
                                          <td>loream6</td>
                                          <td>2077611  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>7</td>
                                          <td>loream7</td>
                                          <td>2077612  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>8</td>
                                          <td>loream8</td>
                                          <td>2077613  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>9</td>
                                          <td>loream9</td>
                                          <td>2077614  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>10</td>
                                          <td>loream10</td>
                                          <td>2077615  </td>
                                          <td>Detail </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 plr-10">
                        <div class="box_sec2">
                           <div class="card graph-r">
                              <div class="card-header box_shadow_none">
                                 <h4>Service wise Ratio</h4>
                              </div>
                              <div class="table-responsive m-b-10">
                                 <table class="dataTable dataTable23">
                                    <thead>
                                       <tr>
                                          <th>Service  </th>
                                          <th>Order Count  </th>
                                          <th>Revenue    </th>
                                          <th>Delivery Ratio</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td>1</td>
                                          <td>loream1</td>
                                          <td>20776  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>2</td>
                                          <td>loream2</td>
                                          <td>207767</td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>3</td>
                                          <td>loream3</td>
                                          <td>207768 </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>4</td>
                                          <td>loream4</td>
                                          <td>207769 </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>5</td>
                                          <td>loream5</td>
                                          <td>2077610  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>6</td>
                                          <td>loream6</td>
                                          <td>2077611  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>7</td>
                                          <td>loream7</td>
                                          <td>2077612  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>8</td>
                                          <td>loream8</td>
                                          <td>2077613  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>9</td>
                                          <td>loream9</td>
                                          <td>2077614  </td>
                                          <td>Detail </td>
                                       </tr>
                                       <tr>
                                          <td>10</td>
                                          <td>loream10</td>
                                          <td>2077615  </td>
                                          <td>Detail </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
            
            <!-- </div>
               </div> -->
            </section>
         </div>
         <!-- footer here -->
         <app-footer></app-footer>
      </div>
      </div>
      <!-- General JS Scripts -->
      
   </body>
</html>