.categories ul li {
  margin-bottom: 0px;
  border: 1px solid rgb(61 61 61 / 3%) !important;
}

.categories ul {
  margin-bottom: 0px;
  display: none;
}

.categories ul li a:hover {
  background-color: #f2f5f8;
  color: black;
}

.categories ul li a {
  text-align: left;
  font-size: 14px;
}

.side-nav .categories>li>a:after {
  content: "\f053";
  font-family: fontAwesome;
  font-size: 11px;
  line-height: 1.8;
  float: right;
  color: #AAA;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.side-nav .categories .opend>a:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.side-nav .categories .active {
  background-color: #f2f5f8;
}

.track_p11 {
  padding: 11px;
  background-color: white;
}

.track_p11 p {
  color: #077bd4;
}

.track_p11 input {
  width: 100%;
  border: 1px solid #077bd4;
}

.sub_li {
  display: none;
  width: 233px;
  margin-left: -27px;
  list-style: none;
}

ul .new_list:hover>ul,
ul .new_list .sub_li:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.track_p11 button {
  margin-top: 9px;
  width: 100%;
  background: #077bd4;
  border: none;
  padding: 4px;
  color: #fff;
}

.p-0 {
  padding: 0px;
}

.space-between {
  justify-content: space-between;
}

.card {
  background-color: #ececec12;
}

.table_heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table_heading button {
  background-color: #2b31e2;
  color: white;
  border: 2px solid #2b31e2 !important;
}

.w50 {
  width: 50%;
}

.card_box .d-flex {
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.card_box .text-muted {
  text-align: center;
}

.card_box i {
  font-size: 24px !important;
  background: #e1e4fb;
  border-radius: 50px;
  padding: 17px 15px;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}


/* graph */

#activityBartChart {
  height: 343px !important;
}


/* daterabgepicker */

.daterangepicker.dropdown-menu.ltr.opensright.show-calendar {
  left: 800px !important;
}

.new_left {
  /* width: 50% !important; */
  float: right !important;
  background-color: transparent !important;
  border: 1px solid #077bd4 !important;
  color: #077bd4;
}

.new_left:hover {
  background-color: #077bd4 !important;
  color: white !important;
}

.main-sidebar .sidebar-menu li {
  display: block;
  border: 1px solid #d3d3d333;
}

.daterangepicker.dropdown-menu.ltr.single.opensright.show-calendar {
  display: none !important;
}


/* placeholder color */

.sec_div p,
.sec_div h5 {
  color: #333 !important;
}

.bg_blue {
  background: #6fa3dd38 !important;
}

.datepicker input {
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid #077bd4;
}

.text-purple {
  color: #867efc !important;
}

.icon.icon-shape {
  width: 3rem;
  height: 3rem;
  background-color: #7b41d81a;
  justify-content: center;
  display: flex;
  align-items: center;
}

body {
  background-color: #f5f8fb !important;
}

.card_box i {
  color: #077bd4 !important;
  font-size: 24px !important;
}

.progress.progress-xs {
  height: 3px;
}

.card_box2 .icon.icon-shape i {
  color: #f5365c !important;
  font-size: 24px !important;
}

.card_box3 .icon.icon-shape i {
  color: #fc7303 !important;
  font-size: 24px !important;
}

.card_box4 .icon.icon-shape i {
  color: #2dce89 !important;
  font-size: 24px !important;
}


/* .card_box2 .icon.icon-shape{
background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}
.card_box3 .icon.icon-shape{
background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}
.card_box4 .icon.icon-shape{
  background: linear-gradient(87deg, #00a441 0, #56bf80 100%) !important;
} */

.w20 {
  width: 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.card_box .card {
    box-shadow: 0px 2px 12px rgb(31 30 47 / 5%);
    background-color: #fff;
    border: 1px solid #eceff5;
    height: 80px;
}

.card_box2 .card {
  box-shadow: 0px 2px 12px rgb(31 30 47 / 5%);
  /* background-image: linear-gradient(#fff, #077bd4); */
  /* background: linear-gradient(to bottom, #fff 90%, #f5365c  10%); */
  margin-bottom: 24px;
  background-color: #fff;
  border: 1px solid #eceff5;
  height: 126px;
}

.font-size-sm {
  font-size: .875rem!important;
}

.font-w600 {
  font-weight: 600!important;
}

.bg-danger-light {
  background-color: #fbeaea!important;
}

.text-danger {
  color: #e56767!important;
}

.float-right {
  float: right;
}

.box_sec .card {
  box-shadow: 0px 2px 12px rgb(31 30 47 / 5%);
  background: white;
  background-color: #fff;
  border: 1px solid #eceff5;
  height: 100px;
}

.box_sec .card .card-body {
      padding: 15px !important;
}

.box_sec2 .card {
    box-shadow: 0px 2px 12px rgb(31 30 47 / 5%);
    background: #fff;
    border: 1px solid #eceff5;
    height: 355px;
}

.table-responsive {
  padding: 0 12px;
}

.box_sec h3 {
  color: black !important;
}

.card_box, .plr-10 {
  padding-right: 10px;
  padding-left: 10px;
}
@media (max-width: 767px){
  .card_box, .plr-10, .resp-plr-0 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.card_box2 h3 {
  color: #f5365c !important;
}

.card_box3 .card {
  /* box-shadow: 0px 2px 12px rgb(31 30 47 / 17%); */
  box-shadow: 0px 2px 12px rgb(31 30 47 / 5%);
  /* background-image: linear-gradient(#fff, #077bd4); */
  /* background: linear-gradient(to bottom, #fff 90%, #fb6340  10%); */
  margin-bottom: 24px;
  background-color: #fff;
  border: 1px solid #eceff5;
  height: 126px;
}

.card_box3 h3 {
  color: #fc7303 !important;
}

@media (max-width: 767px) {
  .prfile {
    display: block !important;
  }
  .table_heading input {
    width: 120px;
  }
  .breadcrumb {
    margin-bottom: 10px;
  }
  .dash1 {
    max-width: 50%!important;
  }
  #donutchart svg {
    width: 312px;
  }
  .pl16px {
    padding-left: 0px !important;
  }
  .font-size-h3 {
    font-size: 20px !important;
  }
  .row {
    margin-right: 0;
    margin-left: 0px;
  }
  .w20 {
    width: 20%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card_orderre {
    margin-left: 0px !important;
  }
  .pl16px {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .box_sec2 {
    padding: 0;
  }
  .main-wrapper {
    margin-bottom: 50px;
  }
  .total {
    width: 139px !important;
    height: 139px !important;
  }
  .col-lg-4 {
    padding: 0;
  }
  .new_list {
    display: none;
  }
}

@media (max-width: 1024px){
  .dash1 {
    max-width: 25%;
  }
}

.card_box4 .card {
  box-shadow: 0px 2px 12px rgb(31 30 47 / 5%);
  /* background-image: linear-gradient(#fff, #077bd4); */
  /* background: linear-gradient(to bottom, #fff 90%, #00a441  10%); */
  margin-bottom: 24px;
  background-color: #fff;
  border: 1px solid #eceff5;
  height: 126px;
}

.card_box4 h3 {
  color: #2dce89 !important;
}

.icon {
  color: #7490BD !important;
}

.card-value i {
  vertical-align: middle;
}

.icon-shape i,
.icon-shape svg {
  font-size: 1.25rem;
}

.text-white {
  color: #fff !important;
}

.text-primary {
  color: #7b41d8 !important;
}

.text-muted {
  /* color: #bdcce5 !important; */
  color: #6c757d !important;
  font-size: 13px;
  font-weight: 600;
}

.bg-orange {
  background: #e4a77138 !important;
  color: black !important;
}

.space_between {
  flex-wrap: wrap;
  justify-content: space-between;
}

.w20 {
  width: 20%;
}

.sec_div {
  background-color: white;
  padding: 12px;
  width: 19%;
  /* box-shadow: 0px 0px 9px lightgrey; */
  margin: 28px 0;
}

.sec_div h5 {
  float: right;
  font-weight: 900;
  font-size: 25px;
}

.bg-green {
  background-color: #00a65a29 !important;
  color: black !important;
}

.bg-red {
  background: #dd4b3930 !important;
  color: black !important;
}

.bg-teal {
  background: #89b6a533 !important;
  color: black !important;
}

.sec_div p {
  margin-bottom: 29px;
}

.new_card12 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.box_div {
  background-color: white;
  box-shadow: 0px 2px 12px rgb(31 30 47 / 5%);
}

.dash1 {
  display: grid;
  justify-content: center;
  padding: 16px 0px;
}

.mr7 {
  margin-right: 14px;
}

.card_orderre {
      height: 330px;
}

.h453px {
  height: 380px !important;
}

.mt21 p {
  color: #212529;
  font-size: 13px !important;
}

.mt21 h2 {
  color: #077bd4;
  font-size: 37px !important;
}

.total:hover {
  background-color: #add8e640;
}

.ml7 {
  margin-left: 14px;
}

.color-blue h2 {
  color: #7b41d8 !important;
}

.color-org h2 {
  color: #f5365c !important;
}

.color-red h2 {
  color: #fc7303 !important;
}

.new_card12 .card-body {
  padding-top: 0px !important;
}

h4 {
  color: black;
  font-size: 21px;
}

.breadcrumb-item.active {
  color: #333;
}

.breadcrumb .breadcrumb-item {
  line-height: 1;
  font-size: 12px;
}

.color-green h2 {
  color: #2dce89 !important;
}

.box_shadow_none {
  box-shadow: none !important;
}

.first_div {
  background-color: white;
  padding: 11px;
  box-shadow: 0px 0px 9px lightgrey;
  height: 238px;
  width: 100%;
  margin-bottom: 28px;
}

.table_ratio {
  background-color: white;
  padding: 11px;
  box-shadow: 0px 0px 9px lightgrey;
  margin-left: 16px;
}

.main-sidebar {
  height: 100vh !important;
}


/* slider */

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}

.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.slick-dots li.slick-active button {
  background-color: black;
}

.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.slick-dots li :hover {
  background-color: black;
}


/* Custom Arrow */

.prev {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}

.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}

.next :hover {
  cursor: pointer;
  color: black;
}

.new_list a {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .nav-link.nav-link-user img {
  width: 35px;
  border-radius: 50px !important;
}

.align-right {
  float: right;
  text-align: right;
}

.pt-0 {
  padding-top: 0;
}

.breadcrumb {
  background-color: #f9f9f903;
}

.navbar .dropdown-list-toggle .message-toggle .headerBadge1 {
  padding: 0px 2px;
  background: #ffc107;
}

.new_list {
  margin-right: 13px;
  height: 41px;
  width: 42px;
}

.fa-check-square {
  color: #ffffff;
  font-size: 19px !important;
  margin-top: 3px !important;
}

@media screen and (max-width: 800px) {
  .pl16px {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .card_orderre {
        height: auto;
  }
  .cardmt3 .col-md-2 {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .pl16px {
    margin-top: 14px !important;
  }
  .next {
    display: none !important;
  }
  .sec_div {
    width: 100%;
  }
  .mr7 {
    margin-right: 0;
  }
  .ml7 {
    margin-left: 0;
  }
  .pl-0,
  .px-0 {
    padding-left: 0 !important;
    margin-top: 0px;
  }
  .breadcrumb .breadcrumb-item {
    font-size: 8px;
  }
  h4 {
    font-size: 18px;
  }
  .font-size-h3 {
    font-size: 20px !important;
  }
}

.table {
  margin-bottom: 0rem !important;
}

.mt22px .ml7 .row {
  width: 100%;
}

.heroSlider-fixed .bg_blue {
  margin: 15px;
  padding: 6px;
  height: 15vh;
}

.heroSlider-fixed .bg_blue p {
  color: #333 !important;
  height: 50px;
}

.bg-pink {
  background-color: #f556723b !important;
  color: black !important;
}

.bg-sky {
  background-color: #35cff336 !important;
  color: black !important;
}

.bg-org {
  background-color: #ffa1173b !important;
  color: black !important;
}

.heroSlider-fixed .bg_blue h5 {
  color: #333 !important;
  float: right;
  font-size: 30px;
  padding: 4px;
}

.heroSlider-fixed .bg_blue:first-child {
  margin-left: 0px;
}

.mt22px {
  margin: 17px 0px;
}

.card .card-body {
  padding-bottom: 0px !important;
  padding: 0px !important;
}
@media (max-width: 900px) and (min-width: 768px){
  .card .card-body{
    padding: 0 5px !important;
  }
  .card_box i{
    height: 50px;
    width: 50px;
  }
  .card_box .card-body .w50{
        width: 45%;
  }
  .card_box .card-body .font-30 {
      font-size: 26px !important;
  }
}

.heroSlider-fixed .bg_blue:last-child {
  margin-left: 0px;
}

.heroSlider-fixed {
  margin-top: 3px;
}

.bg-w {
  background-color: white;
  box-shadow: 0px 2px 12px rgb(31 30 47 / 5%);
}

.tab-bordered .tab-pane {
  height: 100%;
}

.nav-tabs .nav-item .nav-link.active {
  color: #fff!important;
  background-color: #077bd4;
  color: white !important;
  border-color: #077bd4;

}

.theme-white .nav-tabs .nav-item .nav-link,
.nav-tabs {
  margin: 1px;
 border-top-right-radius: 15px;
 border-top-left-radius: 15px;

}

.pl16px {
  padding-left: 17px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

#chart_pia,
#chart_pia2,
#chart_pia3 {
  /* width: 600px !important; */
  height: 283px !important;
  display: grid;
  justify-content: center;
}

.main-content {
  padding-bottom: 2%;
}

.total {
  text-align: center;
  border-radius: 100px;
  box-shadow: 0px 0px 42px #eee;
  width: 150px;
  border: 1px solid #dee2e6;
  height: 150px;
  display: grid;
  justify-content: center;
  align-items: self-end;
  padding: 17px;
}

.card_box h3 {
  color: #333 !important;
}

.pl16px .card {
  height: 130px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.card {
  margin-bottom: 15px;
}

.h33vh {
  height: 32vh !important;
  /* overflow-x: hidden; */
  /* background-color: white; */
}

.table thead th {
  background-color: white !important;
}

.theme-white .media .media-right {
  color: #4c5069c4;
  font-weight: 900;
}

tr {
  border-bottom: 1px solid #eee;
}


/* width */

::-webkit-scrollbar {
      width: 0px;
    height: 3px;
}


/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eee;
  border-radius: 3px;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 3px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

.fromdate {
  background-color: gray;
  color: white !important;
}

.todate {
  background-color: #39c449;
  color: white !important;
}

.fromdate:focus {
  background-color: gray;
}

.todate:focus {
  background-color: #39c449;
}

.table-bg-w {
  background-color: white;
  box-shadow: 0px 0px 9px lightgrey;
  width: 98%;
}

.cardmt3 {
  text-align: center;
  width: 100%;
  margin-left: 0px;
  margin-top: 28px;
  margin-bottom: -21px !important;
}

.cardmt3 .col-md-2 {
  display: grid;
  justify-content: center;
  align-items: center;
}

.cardmt3 .bg_blue {
  margin-bottom: 30px;
  border-radius: 110px;
  height: 150px;
  width: 150px;
  padding: 23px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.bg-white12 {
  background-color: white;
  padding: 19px !important;
  padding-top: 10px !important;
}

.mb_new0 {
  margin-bottom: 17px !important;
}

.float-left {
  float: left;
  width: 100%;
}

.float-right {
  float: right;
}


/* table */

.dataTable {
  width: 100%;
  margin: 1em 0;
}

.dataTable tbody {
  width: auto;
  position: relative;
  overflow-x: auto;
}

.dataTable td,
.dataTable th {
  padding: .625em;
  line-height: 1.5em;
  border-bottom: 1px dashed #077bd40d;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.dataTable th {
  text-align: left;
  background: #fff;
  border-bottom: 1px dashed #aaa;
}

.dataTable tbody tr:nth-child(odd) {
  background: #f1f5fa;
}

@media screen and (min-width: 50em) {
  .dataTable {
    display: table;
  }
  .dataTable thead {
    display: table-header-group;
    float: none;
  }
  .dataTable tbody {
    display: table-row-group;
  }
  .dataTable thead tr,
  .dataTable tbody tr {
    display: table-row;
  }
  .dataTable th,
  .dataTable tbody td {
    display: table-cell;
  }
  .dataTable td,
  .dataTable th {
    width: auto;
  }
}


/* pia chart */

.pie-chart {
  background: radial-gradient( circle closest-side, white 0, white 20.52%, transparent 20.52%, transparent 57%, white 0), conic-gradient( #4e79a7 0, #4e79a7 40.4%, #f28e2c 0, #f28e2c 64.9%, #e15759 0, #e15759 81.9%, #76b7b2 0, #76b7b2 92.5%, #59a14f 0, #59a14f 98.9%, #ffffff 0, #ffffff 100%);
  position: relative;
  min-height: 253px;
  margin: 0;
}

.font-size-h3 {
  font-size: 25px;
}

.dataTable23 th,
.dataTable23 tbody td {
  display: table-cell;
  text-align: center;
}

.pie-chart h2 {
  position: absolute;
  margin: 1rem;
}

.pie-chart cite {
  position: absolute;
  bottom: 0;
  font-size: 80%;
  padding: 1rem;
  color: gray;
}

.pie-chart figcaption {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: smaller;
  text-align: right;
}

.pie-chart span:after {
  display: inline-block;
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.4em;
  height: 0.8em;
  border-radius: 0.2em;
  background: currentColor;
}