<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
       <ul class="sidebar-menu ">
          <li class="dropdown">
             <a href="#" class="menu-toggle nav-link has-dropdown"><i class="material-icons blue">airplay</i><span>Dashboard</span></a>
             <ul class="dropdown-menu">
                <li><a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a></li>
                <li><a class="nav-link" [routerLink]="['/ndr']">NDR</a></li>
                <li><a class="nav-link" [routerLink]="['/dashboard']">Tracking</a></li>
                <li><a class="nav-link" href="#"> RTO</a></li>
             </ul>
          </li>
          <li class="dropdown">
             <a href="#" class="menu-toggle nav-link has-dropdown"><i class="material-icons blue">settings_input_composite</i><span>Smart Shipyaari</span></a>
             <ul class="dropdown-menu">
                <li><a class="nav-link" href="table.html">Table</a></li>
                <li><a class="nav-link" href="#">Process Orders</a></li>
                <li><a class="nav-link" href="#">Generate Pickup</a></li>
                <li><a class="nav-link" href="#">Download Manifest</a></li>
                <li><a class="nav-link" href="#">All Orders</a></li>
                <li><a class="nav-link" href="#">Create Quick Shipment</a></li>
             </ul>
          </li>
          <li class="dropdown">
             <a href="#" class="menu-toggle nav-link has-dropdown"><i class="material-icons blue">add_shopping_cart</i><span>Orders</span></a>
             <ul class="dropdown-menu">
                <li><a class="nav-link" href="#">Add Return</a></li>
                <li><a class="nav-link" href="#">All Return Orders</a></li>
                <li><a class="nav-link" href="#">Refunds</a></li>
             </ul>
          </li>
          <li class="dropdown">
             <a href="#" class="menu-toggle nav-link has-dropdown"><i class="material-icons blue">timeline</i><span>Tracking</span></a>
             <ul class="dropdown-menu">
                <li><a class="nav-link" href="#">Track</a></li>
                <li><a class="nav-link" href="#">Process NDR</a></li>
                <li><a class="nav-link" href="#">Weight Discrepancy</a></li>
                <li><a class="nav-link" href="#">RTO</a></li>
             </ul>
          </li>
          <li class="dropdown">
             <a href="#" class="menu-toggle nav-link has-dropdown"><i class="material-icons blue">receipt</i><span>Billing</span></a>
             <ul class="dropdown-menu">
                <li><a class="nav-link" href="#">Add Customer</a></li>
                <li><a class="nav-link" href="#">Customers Search</a></li>
             </ul>
          </li>
          <li class="dropdown">
             <a href="#" class="menu-toggle nav-link has-dropdown"><i class="material-icons blue">settings</i><span>Settings</span></a>
             <ul class="dropdown-menu">
                <li><a class="nav-link" href="#">Shipping Charges</a></li>
                <li><a class="nav-link" href="#">All Recharges</a></li>
                <li><a class="nav-link" href="#">COD Remittance</a></li>
                <li><a class="nav-link" href="#">Invoices</a></li>
             </ul>
          </li>
          <li class="dropdown">
             <a href="#" class="menu-toggle nav-link has-dropdown"><i class="material-icons blue">help_outline</i><span>Help</span></a>
             <ul class="dropdown-menu">
                <li><a class="nav-link" href="#">Rate Calculator</a></li>
                <li><a class="nav-link" href="#">Pincode-Zone mapping</a></li>
                <li><a class="nav-link" href="#">Activity Logs</a></li>
                <li><a class="nav-link" href="#">Report</a></li>
                <li><a class="nav-link" href="#">Bulk Actions</a></li>
             </ul>
          </li>
       </ul>
    </aside>
 </div>