<nav class="navbar navbar-expand-lg main-navbar sticky" style="background-image:linear-gradient(to bottom right, #077bd4, #064575);">
    <div class="form-inline mr-auto">
       <ul class="navbar-nav mr-3">
          <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
             collapse-btn"> <i class="fa fa-bars"></i></a></li>
          <!-- <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
             <i data-feather="maximize"></i>
             </a>
             </li> -->
       </ul>
       <div class="sidebar-brand">
          <a href="index.html"> <img alt="image" src="assets/img/logo.png" class="header-logo" />
          </a>
       </div>
    </div>
    <ul class="navbar-nav navbar-right">
       <li class="dropdown dropdown-list-toggle new_list">
          <a class="nav-link nav-link-lg message-toggle"
             data-toggle="modal" href="#" style="top: 3px;">
             <!-- <i class="fa fa-check-square" data-toggle="tooltip" title=""
                style="color: #ffffff;" data-original-title="Check Availability">
                </i> -->
             <img src="assets/img/check.png" class="w-20">
          </a>
       </li>
       <li class="dropdown dropdown-list-toggle new_list">
          <a class="nav-link nav-link-lg message-toggle"
             data-toggle="dropdown" href="#" style="top: 3px;">
             <!-- <i class="fa fa-road" data-toggle="tooltip" title=""
                style="color: #ffffff;">
                </i> -->
             <img src="assets/img/highway.png" class="w-20">
          </a>
          <ul class="dropdown sub_li">
             <li>
                <div class="text-center track_p11">
                   <p>Tracking No / Shipyaari ID.</p>
                   <input type="text" name="" value="">
                   <div class="">
                      <button type="button" name="button" class="track_btn">Track</button>
                   </div>
                </div>
             </li>
          </ul>
       </li>
       <li class="dropdown dropdown-list-toggle new_list">
          <a class="nav-link nav-link-lg message-toggle"
             data-toggle="modal" href="#" style="top: 3px;">
             <!--  <i class="fa fa-map-marker"
                style="color: #ffffff;">
                </i> -->
             <img src="assets/img/location.png" class="w-20">
          </a>
          <ul class="dropdown sub_li">
             <li>
                <div class="text-center track_p11">
                   <p>Enter Pincode</p>
                   <input type="text" name="" value="">
                   <div class="">
                      <button type="button" name="button" class="track_btn">Check</button>
                   </div>
                </div>
             </li>
          </ul>
       </li>
       <li class="dropdown dropdown-list-toggle new_list">
          <a class="nav-link nav-link-lg message-toggle"
             data-toggle="modal" href="#" style="top: 3px;">
             <!-- <i class="fas fa-wallet" data-toggle="tooltip" title=""
                style="color: #ffffff;" data-original-title="Wallet Recharge">
                </i> -->
             <img src="assets/img/wallet.png" class="w-20">
          </a>
       </li>
       <li class="dropdown dropdown-list-toggle new_list">
          <a class="nav-link nav-link-lg message-toggle"
             data-toggle="modal" href="#" style="top: 3px;">
             <!--  <i class="fa fa-credit-card" data-toggle="tooltip" title=""
                style="color: #ffffff;" data-original-title="Today Transaction History">
                </i> -->
             <img src="assets/img/card.png" class="w-20">
          </a>
       </li>
       <li class="dropdown">
          <a href="#" data-toggle="dropdown"
             class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="assets/img/user.png"
             class="user-img-radious-style"> &nbsp;<span class="d-sm-none d-lg-inline-block">John Doe </span></a>
          <div class="dropdown-menu dropdown-menu-right pullDown">
             <!-- <div class="dropdown-title">Hello Sarah Smith</div> -->
             <a href="#" class="dropdown-item has-icon"> <i class="far
                fa-user"></i>My Profile
             </a>
             <!-- <a href="#" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                Activities
                </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                Settings
                </a> -->
             <div class="dropdown-divider"></div>
             <a href="#" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
             Logout
             </a>
          </div>
       </li>
    </ul>
 </nav>